*{
  font-family: Arial,"微软雅黑","Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
}
a{
  text-decoration: none;
}
.leftf5{
  //.icon-msnui-refresh-line{
    //名字 周期 运动曲线
    animation: f_five 4s infinite
  //}
}
@keyframes f_five {
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform: rotate(360*10deg);
  }
}

.box{//纵向
  height: 100%;
  display: flex;
  flex-direction: column ;
  .body-D{
    flex:1;
  }
  .body{
    flex:1;
    overflow: auto;
  }
}
.box-row{//横向
  //height: 100%;
  display: flex;
  flex-direction: row ;
  .body-O{
    flex:1;
  }
  .body-F{
    flex:1;
    overflow: auto;
  }
  .body-r-1{
    flex:1;
    overflow: auto;
  }
  .body-r-2{
    flex:2;
    overflow: auto;
  }
  .body-r-3{
    flex:3;
    overflow: auto;
  }
  .body-r-4{
    flex:4;
    overflow: auto;
  }
}
.box-row-z{//横向布局禁止换行
  display: flex;
  flex-direction: row ;
  flex-wrap:nowrap ;
  height: 100%;
}
.box-row-list{//横向布局自动换行
  display: flex;
  flex-direction: row ;
  flex-wrap:wrap;
  .bodyC{
    width: 23%;
    margin:5px 1%;
    .videoFile{
      height: 100%;
      width: 100%;
    }
  }
  .bodyWidth{
    width: 30%;
    margin:5px 1%;
    //  margin: auto;
    margin-bottom: 8px;
  }
}
//*****************************
.selectSTY{
  height: 0.5rem;
  width: 100%;
  color: #8d8d8d;
  outline: none;
  margin: 0.1rem;
  border-radius: 40px;
  font-size: 16px;

  display: block;
  box-sizing: border-box;
  outline: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  position: relative;
  background-color: #fff;
  border: 1px solid #dddee1;
  transition: all .2s ease-in-out;
}
.jxFind{
  .SearchInput{
    outline: none;
    height: 0.5rem;
    line-height: 0.5rem;
    margin: 0.1rem 0;
    border: none;
    background: rgba(255,255,255,1);
    display: inline-block;
    width: 100%;
    color: #fff;
    box-sizing: border-box;
    border-radius: 40px;
    text-align: center;
    font-size: 18px!important;
    transition: all .4s;
  }
  .SearchInput::-webkit-input-placeholder{
    font-size: 16px;
  }
}
