#home_index{
  .home_center{
      .rd{
        padding: 0.3rem 0.4rem;
        border-bottom: solid 2px #495060;
        .rd_list{
          h1{
            font-size: 0.35rem!important;
          }
          h5{
            color: #818181;
            font-size: 0.3rem!important;
          }
          p{
            text-indent: 0.5rem;
            font-size: 0.25rem;
          }
          img{
            width: 100%;
          }
        }
      }
  }
  #index_fooder{
    height: 1.02rem;
    border-top:solid 1px #dedede
  }

}
