#home_index{
  .home_center{
      .rd{
        padding: 0.3rem 0.4rem;
        border-bottom: solid 2px #495060;
        .rd_list{
          border-bottom: solid 0.1rem #dedede;
          padding: 0.15rem;
          h1{
            font-size: 0.35rem!important;
          }
          h5{
            color: #818181;
            font-size: 0.3rem!important;
          }
          p{
            text-indent: 0.5rem;
            font-size: 0.25rem;
          }
          img{
            width: 100%;
          }
        }
      }
      .hd{
        //height: 1.5rem;
        //background-color: #818181;
        .hd_list{
                border-bottom: solid 0.1rem #dedede;
                padding: 0.15rem;
            .box-row{
              h1{
                font-size: 0.35rem!important;
              }
              h5{
                color: #818181;
                font-size: 0.3rem!important;
              }
              p{
                text-indent: 0.5rem;
                font-size: 0.25rem;
              }
              .img{
                width: 2.6rem;
              }
            }

        }
      }
  }
  #index_fooder{
    height: 1.02rem;
    border-top:solid 1px #dedede
  }

}
