.box{
  font-size: 0.26rem;
}
#homeSty{
  .tit{
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    background-color: #26a2ff;
    color: #fff;
    font-size: 0.3rem;
    font-weight: 700;
    //.mint-header.is-fixed{
    //  height: 1rem;
    //  font-weight: 700;
    //}
  }
  .swipe{
    //padding: 0.1rem;
    height: 2.8rem;
  }
  .bookmark{
    text-align: center;
    border-bottom: solid 1px #949494;
    .bokList{
      width: 25%;
      color: #fff;
      padding: 0.2rem 0;
    }
    .bokList a{
      color: #fff;
    }
  }
  .body{
    //padding: 0 0.2rem 0.2rem 0.2rem;
    .fu{
      border-bottom: #dfdfdf solid 0.15rem;
      padding: 0.2rem 0;
      .Htit{
        border-bottom: solid 0.04rem #949494;
        margin: 0 0.2rem;
        padding: 0.2rem 0;
        font-size: 0.35rem;
        font-weight: 700;
      }
      .mess{
        padding: 0.2rem;
      }
    }
    .qy{
      .box-row-list{
        .qyName:first-child{
          background-color: #2b85e4;
        }
        .qyName{
          border-radius: 0.15rem;
          background-color: #a5a5a5;
          color: #fff;
          width: 23%;
          margin:0.1rem 1%;
          text-align: center;
          padding: 0.08rem 0;
        }
        .qyName:active{
          background-color: #949494;
        }
      }
    }
    .bm{

    }
    .xc{
      .mess{
        .ky{
          a{
            color: #ffa000!important;
          }
        }
        .ksi{
          a{
            color: #75dd7b!important;
          }
        }
        .body-O{
          height: 1.2rem;
          //background-color: #2b85e4;
          margin: 0.2rem;
          text-align: center;
          .iconfont{
            font-size: 0.6rem;
          }
        }
      }
    }
    .ks{
      .ksswiper{
        height: 2.8rem;
        text-align: center;
        .ksList{
          height: 50%;width: 50%;
          padding: 0.1rem 0.2rem;
          .ksess{
              border-radius: 0.2rem;
              height: 100%;
              color: #ededed;
              font-weight: 600;
              background-color: #26a2ff;
              line-height: 0.5rem;
          }
          .ksess:active{
            background-color: #2b85e4;
          }
        }
      }
    }
  }
  .fooder{
    height: 0.8rem;
    font-weight: 600;
  }
}
