#login{
  background: url('/static/login/backImg.png') no-repeat fixed center;
  //background-image: url('/static/login/backImg.png');
  //background-size: ;
  //background-attachment:fixed;
  //background-position: center;
  //background-repeat: no-repeat;
  .login_Logo{
    text-align: center;
    margin-top: 0.6rem;
  }
  .login_tit{
    text-align: center;
    font-weight: 700;
    color: #fff;
    font-size: 0.26rem;
  }
  .login_form{
    padding: 0 0.5rem;
    margin-top: 0.5rem;
  }
}
